*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial;
    text-decoration: none;
    user-select:none;

}

.header-h{
    position: sticky;
    top: 0px;
    overflow: hidden;
}

.navbar{
    position: sticky;
    top: 0px;
    overflow: hidden;
    height: 50px;
    background-color: #0f1111;
    color: white;
    align-items: center;
    display: flex;
    padding: 0px 10px 0px 10px;
}

.logo{
    background-image: url('./Asset/Logo/pngimg.com\ -\ amazon_PNG25.png');
    background-size: cover;
    height: 45px;
    width: 120px;
    border: 1px solid transparent;
    user-select:none;
   
}

.logo:hover{
    border-radius: 4px;
    border: 1px solid white;
}


.nav-address{
    width: min-content;
    border: 1px solid transparent;
    padding: 6px;
}
.nav-address:hover{
    border-radius: 4px;
    border: 1px solid white;
}


.add-first{
width: max-content;
color: #CCCCCC;
font-size: 0.8rem;
margin-left: 11px;
}

.add-second{
font-weight: bold;    
font-size: 1rem;
margin-left: 4px;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display:flex;
    justify-content: space-evenly;
    width:-webkit-fill-available;
    height: 36px;
    border-radius: 6px;
    border: none;
    border: 2px solid transparent;
    user-select:none;
}

.nav-search:hover{
    border: 2px solid #ff660e;
}

.search-select{
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    padding: 10px;
    outline: none;
}

.input{
    width:100%;
    font-size: 1rem;
    border: transparent;
    padding: 8px;
    outline: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 136, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.account-sign{
    border: 1px solid transparent;
    width:max-content;
    user-select:none;
    padding: 4px;
  }

.account-sign:hover{
    border-radius: 4px;
    border: 1px solid white;
}

span{
    font-size: 0.7rem;
}

.nav-second{
    width: max-content;
    font-size: 0.8rem;
    font-weight: 700;
}

.return{
    border: 1px solid transparent;
    width: max-content;
    user-select:none;
    padding: 6px;
}

.return:hover{
    border-radius: 4px;
    border: 1px solid white;
}

.list-group{
    width: max-content;
    display: flex;
    gap: 6px;
    justify-content: space-between;
}

.fa-solid{
    font-size: x-small;
}

.fa-magnifying-glass{
    font-size: medium;
}

.nva-cart{
    gap: 2px;
    display: flex;
    width:max-content;
    border: 1px solid transparent;
    padding: 14px 6px 6px 6px;
    font-size: 0.8rem;
    font-weight: 700;
}

.nva-cart:hover{
    border-radius: 4px;
    border: 1px solid white;
}

.carts{
    margin-top: 10px;
    user-select:none;

}
.fa-shopping-cart{
    user-select:none;
    font-size: 22px;
}

.fa-bars{
    font-size: 18px;
}

/* sec-navbar */
 .all-icon{
    padding: 10px;
    gap: 6px;
    display: flex;
    border: 1px solid transparent;
 }

 .all-icon:hover{
    border-radius: 4px;
    border: 1px solid white;
}

.sec-nav-list{
    padding: 10px;
    border: 1px solid transparent;
    width:max-content;
}

.sec-nav-list:hover{
    border-radius: 4px;
    border: 1px solid white;
}

.shop-for-deal{
    color: #ffffff;
    font-weight: bold;
    width: max-content;
    border: 1px solid transparent;
    justify-content: flex-end;
    padding: 10px;
}

.shop-for-deal:hover{
    border-radius: 4px;
    border: 1px solid white;
}

.lists{
    display: flex;
}

.icon-and-list{
    display: flex;
    align-items: center;
}

.sec-nav{
    min-height: 42px;
    justify-content: space-between;
    color: white;
    width: 100%;
    background-color: #1c1f22;
    display: flex;
    align-items: center;
    user-select:none;
}
/* ------------------- */

/* Hero-section */

.hero-section{
    background-image: url(./Asset/Images/71VcGrxQRBL._SX3000_.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    min-width: 1400px;
    justify-content: center;
    align-items: flex-end;
}

.hero-text{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 80%;
    margin-bottom: 20px;
    gap:10px;

}

.hero-text a{
    font-weight: bold;
}

.hero-text a:active{
    color: #ff660e;
}
/* ------------------- */

/* Product-section */

.product-section{
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 60px) / 4);
    gap: 20px;
    min-width: 1400px;
    justify-content: space-between;
}

.box{
    width: 20%;
    gap:14px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-grow: 1;
    flex-basis: 250px; 
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.box1-img{
    background-image: url(./Asset/Images/Bedding_1x._SY116_CB563137408_.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.box2-img{
    background-image: url(./Asset/Images/CleaningTool_1x._SY116_CB563137408_.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.box3-img{
    background-image: url(./Asset/Images/DQC_APR_TBYB_W_BOTTOMS_1x._SY116_CB624172947_.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.box4-img{
    background-image: url(./Asset/Images/Fuji_Gaming_store_Dashboard_card_1x_EN._SY304_CB564799420_.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.box p{
    font-size: 1rem;
    color: #333333;
}

.box p:hover{
    color: #ff660e;
}

/* -------------------- */

/* Main */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: rgba(221, 221, 221, 0.952);
}

/* -------------------- */

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(221, 221, 221, 0.952);
}

.foot-panel-1{
    width: 100%;
    max-width: 1400px;
    background-color: #37475a;
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.foot-panel-2{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222f3d;
    color: #ffffff;
    height: 200px;
}

ul a{
    display:block;
}