*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial;
    text-decoration: none;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    align-items: center;
    display: flex;
}

.nav-logo-border{
    height: 50px;
    width: 150px;
}

.logo{
    background-image: url('/Asset/Logo/pngimg.com\ -\ amazon_PNG25.png');
    background-size: cover;
    height: 50px;
    width: 150px;
    border: 1px solid transparent;
   
}

.logo:hover{
    border: 1px solid white;
}