*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial;
    text-decoration: none;
}

.navbar{
    height: 50px;
    background-color: #0f1111;
    color: white;
    align-items: center;
    display: flex;
    padding: 0px 50px 0px 50px;
}

.logo{
    background-image: url('/Asset/Logo/pngimg.com\ -\ amazon_PNG25.png');
    background-size: cover;
    height: 45px;
    width: 120px;
    border: 1px solid transparent;
   
}

.logo:hover{
    border-radius: 4px;
    border: 1px solid white;
}


.nav-address{
    width: min-content;
    border: 1px solid transparent;
    padding: 6px;
}
.nav-address:hover{
    border-radius: 4px;
    border: 1px solid white;
}


.add-first{
width: max-content;
color: #CCCCCC;
font-size: 0.8rem;
margin-left: 11px;
}

.add-second{
font-weight: bold;    
font-size: 1rem;
margin-left: 4px;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display:flex;
    justify-content: space-evenly;
    width:-webkit-fill-available;
    height: 36px;
    border-radius: 6px;
    border: none;
    border: 2px solid transparent;
}

.nav-search:hover{
    border: 2px solid #ff660e;
}

.search-select{
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    padding: 10px;
    outline: none;
}

.input{
    width:100%;
    font-size: 1rem;
    border: transparent;
    padding: 8px;
    outline: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 136, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.account-sign{
    border: 1px solid transparent;
    width:max-content;
    padding: 4px;
  }

.account-sign:hover{
    border-radius: 4px;
    border: 1px solid white;
}

span{
    font-size: 0.7rem;
}

.nav-second{
    width: max-content;
    font-size: 0.8rem;
    font-weight: 700;
}

.return{
    border: 1px solid transparent;
    width: max-content;
    padding: 6px;
}

.return:hover{
    border-radius: 4px;
    border: 1px solid white;
}

.list-group{
    width: max-content;
    display: flex;
    gap: 6px;
    justify-content: space-between;
}

.fa-solid{
    font-size: x-small;
}

.fa-magnifying-glass{
    font-size: medium;
}

.nva-cart{
    gap: 2px;
    display: flex;
    width:max-content;
    border: 1px solid transparent;
    padding: 14px 6px 6px 6px;
    font-size: 0.8rem;
    font-weight: 700;
}

.nva-cart:hover{
    border-radius: 4px;
    border: 1px solid white;
}

.carts{
    margin-top: 10px;
}
.fa-shopping-cart{
    font-size: 22px;
}

.fa-bars{
    font-size: 18px;
}

 .all-icon{
    padding: 8px;
    gap: 6px;
    display: flex;
    border: 1px solid transparent;
 }

 .all-icon:hover{
    border-radius: 4px;
    border: 1px solid white;
}

.sec-nav-list{
    padding: 10px;
    border: 1px solid transparent;
    width:max-content;
}

.sec-nav-list:hover{
    border-radius: 4px;
    border: 1px solid white;
}

.sec-nav{
    justify-content: flex-start;
    color: white;
    width: 100%;
    background-color: #1c1f22;
    padding: 1px;
    display: flex;
    gap: 0px;
    align-items: center;
    margin-bottom: 10px;
    user-select:none;
}

